* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a:hover {
    text-decoration: none !important;
}

:root {
    --cor-primary: #0489b7;
    --cor-secundary: #ff7700;
}

.navbar-nav li a {
    padding: 0 12px !important;
    text-transform: uppercase;
    font-size: .9rem !important;
    color: var(--cor-primary);
    font-weight: bold;
    text-align: center;
}

.nav-footer li a {
    color: #ffff;
    text-transform: uppercase !important;
    font-size: .9rem !important;
}

.navbar-nav .nav-link:hover,
.nav-footer li:hover a {
    transition-duration: .5;
    color: #ff7700;
}

#btn-associado a {
    position: relative !important;
    cursor: pointer;
}

#btn-associado a:hover h2 {
    color: #0489b7;
    cursor: pointer;
}

#btn-associado a h2 {
    position: absolute !important;
    z-index: 1;
    top: 40%;
    right: 180px;
    color: #fff;
    font-size: 1.5rem;
    opacity: 1 !important;
}

#modalNew {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#modalNew div {
    background: #fff;
    margin: 0 auto;
    min-width: 400px;
    box-shadow: 0 0 0 10px white;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
    padding: 10px
}

#modalNew div span {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    border: 4px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    background-color: red;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

#modalNew.ativo {
    display: flex
}

.link-home:hover div {
    background: linear-gradient(135deg, #ff7700 0%, #ff7700 80%) !important;
    cursor: pointer;
    transform: translateY(-4px);
    transition-duration: .5;
    max-height: 320px;
}

.titulo::before {
    content: '';
    background-color: #0489b7;
    width: 10px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 388px;
    z-index: 0;
}

.titulo h1::before {
    content: '';
    background-color: #0489b7;
    width: 370px;
    height: 10px;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 0;
}

#noticias div div div h3 {
    opacity: 1 !important;
    background-color: #fff;
}

.card-servicos img {
    max-height: 400px !important;
}

.form-login input::placeholder {
    color: var(--cor-primary);
}

#premios li {
    margin-bottom: 10px;
}

.hover:hover {
    opacity: 0.8 !important;
    cursor: pointer;
}

.projetos_img {
    max-width: 350px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.logos {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.nav-link {
    padding: 10px 0px;
}



.dropdown-menu {

    max-height: 310px !important;
}

.dropdown-menu li {
    padding: 8px !important;
}

@keyframes drop {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.dropdown-menu {
    position: absolute;
    background-color: #fff;
    font-weight: bold;
    flex-direction: column;
    border-radius: 0 0 12px 12px;
    z-index: 1000;
    animation: slideDown 0.5s ease forwards;
    min-width: 250px !important;
    padding: 10px;
    list-style: none;
}




@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 200px;
        opacity: 1;
    }
}

#modalNew {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#modalNew div {
    background: #fff;
    margin: 0 auto;
    min-width: 400px;
    box-shadow: 0 0 0 10px white;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
    padding: 10px
}

#modalNew div span {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    border: 4px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    background-color: red;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

#modalNew.ativo {
    display: flex
}



#modal {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#modal div {
    background: #fff;
    margin: 0 auto;
    min-width: 400px;
    box-shadow: 0 0 0 10px white;
    box-sizing: border-box;
    position: relative;
    border-radius: 12px;
    padding: 10px
}

#modal div span {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    border: 4px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .3);
    background-color: red;
    color: white;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.ativo {
    display: flex !important;
}


.comentarios input,.comentarios textarea {
    border:1px solid #c7c7c7
}
.comentarios input:hover,.comentarios textarea:hover {
    border:1px solid #0389b7
}


.image-card {
    position: relative;
    border: 1px solid #ddd;
    /* Borda clara */
    border-radius: 8px;
    /* Cantos arredondados */
    overflow: hidden;
    /* Para esconder bordas de imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
    transition: transform 0.3s;
    /* Efeito ao passar o mouse */
}

.image-card:hover {
    transform: scale(1.05);
    /* Aumenta levemente ao passar o mouse */
}

.image-card img {
    object-fit: cover;
    /* Ajusta a imagem para cobrir o espaço */
    max-height: 150px !important;
    /* Altura fixa */
}

.delete-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    /* Remove borda */
    transition: background 0.3s;
    /* Efeito ao passar o mouse */
}

.galeria-modal {
    height: 100vh;
    /* Ocupar toda a altura da viewport */
    width: 100vw;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    padding: 4%;
    cursor: pointer;
    visibility: hidden;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.galeria-modal img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    transform: scale(0);
    transition: transform 0.25s ease-in-out;

}

.galeria-modal span {
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 22px;
    color: red;
    z-index: 10000;
}



.single-galeria img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.single-galeria img:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

@media screen and (max-width: 746px) {
    .galeria {
        grid-auto-rows: 15vh !important;
    }
}


.single-galeria img {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.single-galeria img:hover {
    transform: scale(1.1) !important;
    cursor: pointer;
}

@media screen and (max-width: 746px) {
    .galeria {
        grid-auto-rows: 15vh !important;
    }
}

@media(max-width:1300px) {
    #noticias img {
        max-width: 250px;
    }

    #login .container {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    #login h3 {
        display: none;
    }

    #login p {
        display: none !important;
    }

    #form-login {
        width: 400px !important;
    }

    #form-login input {
        width: 100% !important;
    }
}

@media(max-width:1200px) {
    #btn-associado img {
        max-width: 800px !important;
    }

    #btn-associado a h2 {
        top: 130px;
        color: #fff;
        font-size: 2rem;
    }

    #noticias img {
        width: 200px !important;
    }

    .titulo-banner h3 {
        right: auto !important;
        left: 0 !important;
    }

    #projetos img {
        justify-content: center !important;
        width: 500px !important;

    }
}


@media(max-width:1100px) {
    .nav-home {
        position: inherit !important;
        flex-wrap: wrap !important;
    }

    .img-home {
        display: none !important;
    }

    /* .navbar-nav li a {
        display: none;
    } */
    #nosso-convenio {
        flex-wrap: wrap !important;
    }

    .img-banner {

        right: -40% !important;
    }

    .img-banner img {
        max-width: 300px !important;
    }

}

@media(max-width:970px) {
    #btn-associado img {
        max-width: 500px !important;
    }

    #btn-associado a h2 {
        top: 85px;
        right: 120px;
        color: #fff;
        font-size: 1.5rem;
    }

    #noticias img {
        max-width: 200px;
    }

    .titulo-box h1 {
        right: 30% !important;
    }

    .card-servicos img {
        max-height: 300px !important;
    }

    .titulo h1 {
        font-size: 2rem !important;
    }

    #login img {
        max-width: 400px;
    }

    .banner-home h2 {
        font-size: 2rem !important;
    }

    .banner-home h1 {
        font-size: 3rem !important;
    }

    .titulo-banner h3 {
        font-size: 2rem !important;
        position: relative !important;
    }

    .img-banner {

        display: none;
    }

    .img-banner img {
        max-width: 250px !important;
    }

    #conheca-appvr iframe {
        width: 300px !important;
        height: auto !important;
    }
}



@media(max-width:567px) {
    .banner-home h2 {
        font-size: 1.5rem !important;
    }

    .banner-home h1 {
        font-size: 2rem !important;
    }

    .banner-home {
        text-align: center !important;
        display: flex;
        align-items: center !important;
    }



    #conheca-appvr div div {
        margin-right: 0 !important;
    }

    #conheca-appvr p,
    #conheca-appvr h1 {
        text-align: center !important;
        justify-content: center !important;
    }

    #btn-associado img {
        max-width: 300px !important;
    }

    #btn-associado a h2 {
        top: 40px;
        right: 65px;
        color: #fff;
        font-size: 1rem;
    }

    #btn-associado {
        min-height: 60vh !important;
    }

    #noticias {
        min-height: 120vh !important;
    }

    .titulo-box h1 {
        right: 20% !important;
    }

    .link-home div {
        min-width: 300px !important;
    }

    .card-servicos img {
        max-height: 240px !important;
    }

    .titulo h1 {
        font-size: 1rem !important;
        display: flex !important;
        justify-content: center !important;
    }

    .titulo h1::before {
        display: none;
    }

    .titulo::before {
        display: none;
    }

    #login img {
        max-width: 300px;
    }

    #form-login {
        width: 300px !important;
    }

    #form-login {
        width: 300px !important;
    }

    .titulo-banner {
        position: relative !important;
    }

    .titulo-banner h3 {
        font-size: 2rem !important;
        align-items: center;
        margin-top: 10px;
    }

    #projetos img {
        justify-content: center !important;
        width: 300px !important;

    }

    .projetos_img {
        max-width: 250px;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    .logo img {
        height: 50px !important;
    }

    .parceiros-texto p {
        margin: 30px 20px !important;
    }

    .img-banner {
        top: -65% !important;
        right: 0% !important;
    }

    .img-banner img {
        max-width: 250px !important;
    }
}

@media(max-width:400px) {
    .titulo-box h1 {
        right: 10% !important;
    }

    .card-servicos img {
        max-height: 200px !important;
    }

    .link-home div {
        min-width: auto !important;
    }

    #projetos img {
        justify-content: center !important;
        width: 250px !important;

    }
}

@media(max-width:600px) {

    .responsive-table td,
    .responsive-table th {
        font-size: 0.8rem;
    }

    .responsive-table td a {
        font-size: 0.8rem;
    }
}

@media(max-width:450px) {

    .responsive-table td,
    .responsive-table th {
        font-size: 0.6rem;
    }

    .responsive-table td a {
        font-size: 0.4rem;
    }
}